:root {
    --Light: forestgreen;
    --Dark: rgb(23, 88, 23);
}

* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 20px;
}

main {
    position: absolute;
    left: 25%;
    width: 50%;
    text-align: center;
}

section {
    display: inline-block;
    width: 60%;
    text-align: left;
    padding-left: 35px;
}

h2 {
    font-size: 32px;
}

header a:link, header a:visited {
    text-decoration: none;
    color: var(--Light);
    font-weight: bold;
}

header a:hover, header a:active {
    color: transparent;
}

ol {
    display: inline-block;
    color: var(--Light);
    font-size: 24px;
    width: max-content;
    padding: 0px;
}

li {
    border: 2px solid var(--Dark);
    padding: 8px 40px;
    margin: 5px;
}

form {
    display: none;
}

button {
    background-color: var(--Dark); 
    border: 1px solid var(--Light);
    border-radius: 8px;
    color: white;
    padding: 7px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--Light);
}

.big-btn {
    font-size: 24px;
    margin: 3px 15px;
}

.lil-btn {
    font-size: 19px;
    padding: 0 5px;
}

.btn-group {
    width: fit-content;
}

.btn-group button {
    display: block;
    font-size: 24px;
    text-align: left;
    width: 260px;
    margin: 8px 0;
}

#timer {
    position: fixed;
    right: 20px;
    color: rgb(73, 73, 73);
}

#highscores {
    position: fixed;
    left: 20px;
}

