* body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    padding: 20px;
}

main {
    position: absolute;
    left: 25%;
    width: 50%;
    text-align: center;
}

section {
    display: inline-block;
    width: 40%;
    text-align: left;
    padding: 20px;
}

header a:link, header a:visited {
    text-decoration: none;
    color: rgb(33, 116, 155);
    font-weight: bold;
}

header a:hover, header a:active {
    color: transparent;
}

ol {
    display: inline-block;
    color: rgb(78, 154, 189);
    font-size: 24px;
    width: max-content;
    padding: 5px;
}

li {
    border: 2px solid rgb(33, 116, 155);
    padding: 8px 40px;
    margin: 5px;
}

form {
    display: none;
}

button {
    background-color: rgb(33, 116, 155); 
    border: 1px solid rgb(78, 154, 189);
    color: white;
    font-weight: bolder;
    padding: 4px 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(78, 154, 189);
}

.big-btn {
    font-size: 22px;
    margin: 3px 0;
}

.lil-btn {
    font-size: 17px;
    padding: 2px 5px;
    margin: 3px 0;
}

.btn-group {
    width: fit-content;
}

.btn-group button {
    display: block;
    border-radius: 8px;
    font-size: 17px;
    text-align: left;
    width: 150px;
    margin: 5px 0;
}

#timer {
    position: fixed;
    right: 20px;
    font-size: 20px;
}

#highscores {
    position: fixed;
    left: 20px;
}

