* body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
}

section {
    display: inline-block;
    width: 80%;
    text-align: left;
}

/* section div {
    position: absolute;
} */

a:link, a:visited {
    text-decoration: none;
    color: rgb(33, 116, 155);
    font-weight: bold;
}

a:hover, a:active {
    color: transparent;
}

.btn-group button {
    display: block;
    background-color: rgb(33, 116, 155); 
    border: 1px solid rgb(78, 154, 189);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    padding: 4px 10px;
    margin: 3px 0;
    cursor: pointer; 
}

.btn-group button:hover {
    background-color: rgb(78, 154, 189);
}

#timer {
    position: fixed;
    right: 20px;
    font-size: 20px;
}

#highscores {
    position: fixed;
    left: 20px;
}

#start-btn {
    background-color: rgb(33, 116, 155); 
    border: 1px solid rgb(78, 154, 189);
    color: white;
    font-size: 22px;
    font-weight: bolder;
    padding: 4px 10px;
    margin: 3px 0;
    cursor: pointer; 
}

#start-btn:hover {
    background-color: rgb(78, 154, 189);
}